<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<p>マイページ <%= @user.id %></p>
<p>名前 <%= @user.name %></p>
<p>メールアドレス <%= @user.email %></p>
<p>ステータス<%= @user.status %></p>
<p>年齢 <%= @user.age %></p>
<p>住所 <%= @address %></p>
<p>電話番号 <%= @phone_number %></p>
<p>プロフィール <%= @user.profile %></p>
<%= link_to '編集',  edit_user_registration_path(@blog) %>
